html, body {
    margin: 0px;
    padding: 0px;
}

body {
    overflow: hidden;
    background: linear-gradient(0deg, #d29074, #ffe7a9, #d29074);
    width: 100vw;
    height: 100vh;
    color: #000;
    font-family: "main", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: calc(1.1vw + 1.1vh);
}

img#welcome {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 40vw;
    height: auto;
}

img#dandytree {
    position: absolute;
    top: 50%;
    right: 0;
    width: auto;
    height: 80vh;
    transform: translateY(-50%);
}

div#linkflower {
    z-index: 2;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(10%);
}

@font-face {
    font-family: "main";
    src: url(assets/Poppins-Medium.ttf);
}

div.imgmap {
    height: 50vh;
    width: auto;
}

div.imgmap>* {
    height: inherit;
    width: inherit;
}