html, body {
    margin: 0px;
    padding: 0px;
}

body {
    overflow: hidden;
    background: radial-gradient(#ffe7a9, #d29074);
    width: 100vw;
    height: 100vh;
    color: #000;
    font-family: "main", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: calc(1.1vw + 1.1vh);
}

img#welcome {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 40vw;
    height: auto;
    animation-name: sway;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

@keyframes sway {
    from {
        transform: rotate(-2deg);
    }
    to {
        transform: rotate(2deg);
    }
}

img#dandytree {
    position: absolute;
    top: 50%;
    right: 0;
    width: auto;
    height: 80vh;
    animation-name: treesway;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

@keyframes treesway {
    from {
        transform: translateY(-49%);
    }
    to {
        transform: translateY(-51%);
    }
}

div#linkflower {
    z-index: 2;
    position: absolute;
    left: 0;
    bottom: 0;
    transition-property: transform;
    transition-duration: 100ms;
    animation-name: linksway;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

@keyframes linksway {
    from {
        transform: translateY(10%) rotate(-2deg);
    }
    to {
        transform: translateY(10%) rotate(2deg);
    }
}

div#linkflower:has(*>area:hover) {
    animation: none;
    transform: scale(105%) translateY(10%);
}

@font-face {
    font-family: "main";
    src: url(assets/Poppins-Medium.ttf);
}

div.imgmap {
    height: 50vh;
    width: auto;
}

div.imgmap>* {
    height: inherit;
    width: inherit;
}