:root {
    --text: #111;
    --background: #fa5;
    --content: #ffdbb5;
    --topbar: #ffb18e;
    /*--button: #f85;*/
    --gradientmix: #532;
    --link: #fe8;
    --hover: rgb(255, 106, 198);
    --cround: 0.25rem;
}

html, body {
    margin: 0px;
    padding: 0px;
}

body {
    --scrollY: 0px;
    background: var(--background) url(assets/placeholderback.jpeg);
    background-repeat: repeat;
    background-size: 10vh;
    background-position-x: var(--scrollY);
    color: var(--text);
    font-family: "main", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: calc(1.1vw + 1.1vh);
}



a {
    color: var(--link);
    text-decoration: none;
}

a:hover {
    color: var(--hover);
    text-decoration: underline;
}

@font-face {
    font-family: "main";
    src: url(assets/Poppins-Medium.ttf);
}

p.sub {
    font-size: 0.75rem;
}

p {
    margin: 0px;
}

section#content {
    background-color: var(--content);
    position: absolute;
    top: 0;
    left: 8vw;
    right: 8vw;
    bottom: 0px;
    overflow-y: auto;
    box-shadow: 0px 0px 5px var(--gradientmix);
}

img.wrapped-image {
    width: 30%;
    height: initial;
    float: right;
    margin: 0.25em;
}

img.wrapped-image.left {
    float: left;
}

p>img {
    height: 1.5em;
    vertical-align: middle;
}

div#info {
    padding: 0.5em;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

div#footer {
    padding: 0.5em;
    background: linear-gradient(0deg, color-mix(in srgb, var(--topbar), var(--gradientmix)), var(--topbar));
}

div#topbar {
    position: relative;
    overflow: hidden;
    background: radial-gradient(var(--topbar),color-mix(in srgb, var(--topbar), var(--gradientmix)));
    height: 30vh;
}

img#logo {
    border-radius: var(--cround);
    position: absolute;
    height: 28vh;
    top: 1vh;
    left: 1vh;
}

div#links {
    border-radius: var(--cround);
    display: flex;
    justify-content: left;
    position: absolute;
    right: 1vh;
    bottom: 1vh;
    background-color: #2225;
}

div#links>* {
    padding: 0.5em;
}